#nav{
    padding: 0 33px;
    display: flex;
    align-items: center;
   .logo{
     text-indent: -9999px;
     width: 298px;
     height: 75px;
     display: block;
     background-image: url(../img/LOGO1.svg);
     background-size: contain;
     background-position: 50%;
     background-repeat: no-repeat;
   }
   .nav_left{
     >li{
       display: inline-block;
       position: relative;
       .nav_menu{
         display:none;
         position:absolute;
         &::before{
           content: "";
           display: block;
           background-color: transparent;
           height: 20px;
         }
       }
       .nav_menu_area{
         background-color: #fff;
         width: 168px;
         a{
           display:block;
           height: 39px;
           line-height:39px;
           padding: 0 24px;
           text-decoration: none;
           color: rgb(60, 60, 60);
         }
       }
       >a{
         display:block;
         text-decoration: none;
         color: #fff;
         padding: 7px;
       }
       &:hover{
          >a{
            background-color: red;
            border-radius: 3px;
          }
          .nav_menu{
            display: block;
          }
        }
     }
     
   }
   .nav_right{
     margin-left: auto;
     ul{
       display: inline-flex;
       li>a{
          text-indent: -9999px;
          display: inline-block;
          width: 30px;
          height: 30px;
          background-repeat: no-repeat;
          background-size: 80%;
          background-position: 50%;
       }
     }
   }
   .h_facebook {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath fill='%23FFF' d='M20.511 7.91A10.002 10.002 0 0 1 5.122 19.091 10 10 0 1 1 20.511 7.91zM11 1.446a9.554 9.554 0 1 0-.001 19.108A9.554 9.554 0 0 0 11 1.446z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFF' d='M12.631 7.544c.325-.011.649-.002.978-.002h.134V5.848c-.174-.018-.356-.042-.539-.051-.334-.014-.667-.031-1.001-.022-.511.01-.994.134-1.415.436-.484.348-.75.838-.851 1.414a4.748 4.748 0 0 0-.059.725c-.01.38-.002.76-.001 1.141v.142h-1.62v1.893h1.61v4.753h1.967v-4.746h1.607l.246-1.9h-1.865s.004-.938.017-1.344c.014-.559.346-.728.792-.745z'/%3E%3C/svg%3E");
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath fill='%23FFF' d='M20.998 10.958a10.872 10.872 0 0 0-.044-.87c-.01-.1-.022-.2-.035-.3a9.08 9.08 0 0 0-.091-.595 9.135 9.135 0 0 0-.07-.36 10.158 10.158 0 0 0-.134-.52c-.034-.123-.064-.246-.103-.368l-.01-.035c-.084-.258-.178-.51-.28-.757-.041-.099-.09-.192-.134-.289a9.825 9.825 0 0 0-.254-.527c-.054-.102-.113-.201-.17-.301a10.178 10.178 0 0 0-.294-.483c-.06-.091-.12-.182-.183-.271a9.718 9.718 0 0 0-.366-.489c-.057-.071-.111-.145-.17-.214a10.126 10.126 0 0 0-.558-.614l-.036-.039a10.102 10.102 0 0 0-.651-.592c-.072-.06-.147-.116-.221-.174a9.59 9.59 0 0 0-1.222-.826c-.106-.061-.212-.123-.32-.18a10.62 10.62 0 0 0-.527-.254c-.105-.048-.21-.099-.318-.144-.242-.1-.489-.19-.741-.271-.113-.037-.229-.066-.345-.099a9.528 9.528 0 0 0-.892-.21 9.676 9.676 0 0 0-.591-.09c-.104-.013-.208-.028-.313-.038C11.62 1.019 11.313 1 11 1s-.62.019-.926.047c-.103.009-.207.024-.31.037-.2.024-.397.054-.594.09-.118.023-.237.046-.355.073-.182.04-.362.088-.541.139-.113.032-.227.061-.338.096-.261.084-.518.178-.769.282-.095.039-.186.085-.278.127a9.78 9.78 0 0 0-.545.263c-.104.055-.207.115-.31.174a9.663 9.663 0 0 0-1.239.839c-.068.054-.14.106-.206.162-.228.191-.449.389-.658.598l-.015.016a9.75 9.75 0 0 0-.58.638c-.055.066-.106.135-.16.203a10.22 10.22 0 0 0-.553.764c-.104.16-.203.326-.299.493-.055.097-.113.193-.166.293a9.737 9.737 0 0 0-.258.535c-.043.095-.09.186-.13.282-.103.247-.197.5-.28.758l-.01.036c-.04.122-.07.245-.104.368a9.04 9.04 0 0 0-.135.521c-.026.119-.048.239-.07.358a9.851 9.851 0 0 0-.091.6c-.012.098-.025.196-.034.293-.026.294-.044.591-.045.892L1 11v.003c0 .316.019.628.047.936.009.091.022.181.033.271a9.717 9.717 0 0 0 .305 1.511c.031.11.059.221.093.33.086.266.181.527.287.783.041.098.089.193.133.291.079.174.16.348.25.518.054.103.111.203.169.304.094.165.191.327.294.485.058.088.115.177.176.264a9.6 9.6 0 0 0 .394.526c.046.059.09.12.139.177.191.231.393.454.604.666l.055.051c.191.188.391.369.595.541.083.069.169.134.255.201.098.078.192.159.294.233.05.036.102.066.151.101a10.927 10.927 0 0 0 .757.479c.113.064.224.128.338.188.159.083.323.16.487.235.106.048.212.101.319.146.258.107.522.204.791.29.101.032.203.056.305.085.188.053.378.104.57.146.114.025.229.046.346.067.195.036.393.066.593.09.102.013.203.026.306.036.302.027.605.046.914.046s.612-.019.914-.046c.102-.01.203-.023.306-.036.199-.024.397-.055.594-.091.114-.021.229-.042.344-.067.194-.042.384-.094.573-.147.101-.028.202-.052.302-.083.27-.086.534-.183.793-.291.105-.044.208-.095.313-.143.167-.076.334-.154.496-.239.111-.059.221-.122.33-.185a10.36 10.36 0 0 0 .758-.479c.052-.036.105-.067.156-.104.104-.075.199-.158.3-.237.083-.065.168-.128.248-.196.203-.17.399-.349.589-.535.021-.02.043-.038.063-.059.21-.21.409-.432.6-.661.054-.064.103-.131.154-.197a9.669 9.669 0 0 0 .564-.787c.097-.15.189-.303.278-.458a8.07 8.07 0 0 0 .183-.328c.082-.156.156-.316.229-.477.05-.11.104-.218.151-.33.104-.251.197-.507.28-.768.039-.12.069-.242.104-.363a9.804 9.804 0 0 0 .205-.878c.035-.196.065-.394.09-.593.013-.098.026-.194.036-.292A10.143 10.143 0 0 0 21 11l-.002-.042zm-7.256-3.416h-.134c-.328 0-.652-.009-.978.002-.446.016-.778.186-.792.744-.013.407-.017 1.344-.017 1.344h1.865l-.246 1.9h-1.607v4.746H9.867v-4.753h-1.61V9.633h1.62v-.142c-.001-.381-.009-.761.001-1.141.005-.241.017-.488.059-.726.101-.576.366-1.066.851-1.414.421-.302.904-.426 1.415-.436.334-.009.667.009 1.001.022.183.009.365.034.539.051v1.695z'/%3E%3C/svg%3E");
      }
    }
   .h_youtube {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath fill='%23FFF' d='M20.511 7.909a10 10 0 1 1-19.022 6.18 10 10 0 0 1 19.022-6.18zM11 1.446a9.555 9.555 0 1 0 0 19.11 9.555 9.555 0 0 0 0-19.11z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFF' d='M6.957 14.359a1.178 1.178 0 0 1-.781-.759c-.34-.93-.438-4.822.213-5.588.223-.263.51-.417.851-.453 1.755-.189 7.182-.162 7.807.063.366.132.627.372.768.738.371.962.382 4.462-.049 5.388a1.18 1.18 0 0 1-.55.555c-.656.344-7.398.34-8.259.056zm2.789-1.824l3.161-1.639-3.161-1.649v3.288z'/%3E%3C/svg%3E");
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M9.746 12.535l3.161-1.639-3.161-1.649v3.288z'/%3E%3Cpath d='M20.999 10.982a10.266 10.266 0 0 0-.046-.899c-.009-.096-.021-.192-.033-.288a9.93 9.93 0 0 0-.298-1.489c-.033-.12-.063-.241-.101-.36l-.011-.038a10.095 10.095 0 0 0-.281-.759c-.039-.094-.086-.183-.128-.275a10.344 10.344 0 0 0-.26-.541c-.054-.1-.11-.197-.167-.294a9.03 9.03 0 0 0-.477-.756 9.908 9.908 0 0 0-.372-.498c-.055-.069-.107-.139-.164-.207a9.971 9.971 0 0 0-.57-.627l-.023-.026a10.565 10.565 0 0 0-.655-.596c-.069-.058-.142-.111-.213-.167a10.123 10.123 0 0 0-.483-.362 9.476 9.476 0 0 0-.75-.472c-.104-.06-.206-.12-.312-.176a9.655 9.655 0 0 0-.542-.262c-.093-.042-.184-.088-.277-.127a10.115 10.115 0 0 0-.771-.282c-.112-.036-.227-.064-.339-.097a8.961 8.961 0 0 0-.896-.211 10.524 10.524 0 0 0-.595-.091c-.104-.013-.206-.027-.31-.037A10.87 10.87 0 0 0 11 1h-.002c-.312 0-.618.019-.923.047-.104.01-.209.024-.313.038a9.527 9.527 0 0 0-1.483.3c-.114.032-.23.062-.344.099-.257.081-.51.174-.756.276-.101.041-.198.09-.296.134-.182.082-.362.167-.538.259-.106.056-.209.117-.313.176-.157.09-.311.183-.463.281-.096.063-.192.126-.286.192a9.56 9.56 0 0 0-.485.363c-.07.055-.142.108-.21.165-.228.19-.448.388-.657.597l-.016.016c-.202.204-.394.418-.579.638-.055.065-.107.134-.159.201a9.712 9.712 0 0 0-.855 1.261c-.054.096-.111.191-.163.29-.095.178-.18.362-.264.546-.041.091-.086.178-.124.27a9.706 9.706 0 0 0-.292.798c-.04.12-.069.242-.103.364a9.97 9.97 0 0 0-.134.522c-.027.12-.049.24-.071.36a9.808 9.808 0 0 0-.091.595c-.012.101-.025.201-.034.301a9.99 9.99 0 0 0-.044.869L1 11v.007c0 .313.019.621.047.927.009.097.023.192.035.288.024.202.055.402.092.6a8.486 8.486 0 0 0 .206.882c.033.118.063.236.1.353.084.262.179.52.283.772.044.107.097.211.146.317.075.165.151.329.235.489.057.108.118.215.178.321a9.141 9.141 0 0 0 .47.745c.12.172.246.34.377.504.052.065.101.132.153.196.191.228.39.449.6.66.023.024.05.045.074.069.186.182.378.357.576.524.084.07.173.136.259.204.098.077.191.158.292.231.05.036.102.066.151.101a10.973 10.973 0 0 0 1.096.667c.158.083.32.158.482.233.108.049.215.103.324.148.258.107.521.204.789.289.103.033.207.057.31.086.187.053.374.103.565.145.115.025.231.047.348.068.195.036.392.066.59.09.103.013.205.026.309.036.301.029.604.048.913.048s.613-.019.915-.046c.101-.009.202-.023.303-.035.201-.024.4-.055.597-.091.114-.021.229-.042.342-.067.195-.043.388-.095.578-.149.099-.028.198-.051.297-.083.271-.086.535-.183.796-.291.104-.043.204-.094.307-.141.169-.077.337-.155.501-.241a10.822 10.822 0 0 0 1.087-.663c.052-.036.105-.067.156-.104.104-.075.199-.158.3-.237.083-.065.168-.128.248-.196.204-.171.401-.35.591-.537l.061-.057a9.98 9.98 0 0 0 .603-.663c.052-.062.099-.126.148-.19.132-.167.261-.336.383-.511.063-.091.123-.184.183-.276.1-.154.194-.311.286-.471.06-.104.119-.209.176-.316.085-.163.163-.331.24-.499.047-.103.098-.204.141-.308.105-.254.2-.514.285-.777.035-.112.063-.226.096-.339a9.63 9.63 0 0 0 .208-.887c.038-.204.069-.409.094-.617.012-.091.024-.181.033-.272.026-.305.045-.617.045-.933V11l-.001-.018zm-5.234 2.766a1.18 1.18 0 0 1-.55.555c-.655.345-7.396.34-8.258.056a1.178 1.178 0 0 1-.781-.759c-.34-.93-.438-4.822.213-5.588.223-.263.51-.417.851-.453 1.755-.189 7.182-.162 7.807.063.366.132.627.372.768.738.37.961.381 4.461-.05 5.388z'/%3E%3C/g%3E%3C/svg%3E");
      }
    }
   .h_line {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath fill='%23FFF' d='M20.512 7.909a10.001 10.001 0 1 1-19.024 6.18 10.001 10.001 0 0 1 19.024-6.18zM11 1.446a9.552 9.552 0 0 0-9.086 6.602 9.55 9.55 0 0 0 3.47 10.681 9.548 9.548 0 0 0 11.232 0 9.548 9.548 0 0 0 3.47-10.681A9.551 9.551 0 0 0 11 1.446z'/%3E%3Cpath d='M9.022 8.6h-.71a.195.195 0 0 0-.196.197v4.406c0 .11.086.198.196.198h.71a.197.197 0 0 0 .196-.198V8.796a.195.195 0 0 0-.196-.196m4.883 0h-.711a.197.197 0 0 0-.196.197v2.618l-2.019-2.727c-.005-.008-.012-.013-.016-.021l-.001-.001-.012-.011-.004-.003-.011-.009c-.002-.001-.003-.003-.007-.004a.07.07 0 0 0-.009-.007l-.005-.004-.012-.005c-.001-.001-.003-.003-.007-.004-.003-.001-.007-.002-.011-.005l-.006-.002-.012-.004-.007-.001-.013-.004-.007-.001h-.011c0-.002-.003-.002-.005-.002h-.718a.197.197 0 0 0-.196.197v4.406c0 .11.088.198.196.198h.71a.198.198 0 0 0 .197-.198v-2.616l2.021 2.73a.235.235 0 0 0 .053.05l.012.007.007.003c.004.001.006.004.009.005s.007.002.01.005l.006.001.014.004h.002a.222.222 0 0 0 .049.007h.711a.197.197 0 0 0 .196-.198V8.796a.197.197 0 0 0-.197-.196m-6.593 3.697H5.384v-3.5a.196.196 0 0 0-.197-.197h-.709a.196.196 0 0 0-.196.197v4.406c0 .054.021.102.055.137l.003.004.003.002a.2.2 0 0 0 .135.054h2.834a.197.197 0 0 0 .197-.198v-.709a.197.197 0 0 0-.197-.196m10.51-2.594a.196.196 0 0 0 .195-.197v-.709a.196.196 0 0 0-.195-.197h-2.834a.195.195 0 0 0-.137.056c-.002 0-.002 0-.002.002l-.004.003a.194.194 0 0 0-.055.135v4.405c0 .054.021.102.056.137l.003.003.003.003a.2.2 0 0 0 .136.055h2.834a.196.196 0 0 0 .195-.198v-.709a.195.195 0 0 0-.195-.196h-1.927v-.745h1.927a.195.195 0 0 0 .195-.196v-.711a.195.195 0 0 0-.195-.196h-1.927v-.745h1.927z' fill='%23FFF'/%3E%3C/svg%3E");
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cpath fill='%23FFF' d='M20.953 10.077c-.008-.089-.02-.179-.03-.269a10.162 10.162 0 0 0-.097-.633c-.021-.109-.041-.218-.064-.327a10.825 10.825 0 0 0-.148-.577c-.029-.104-.055-.209-.088-.313l-.014-.049a10.177 10.177 0 0 0-.285-.768c-.031-.075-.069-.146-.103-.22a9.92 9.92 0 0 0-.287-.597c-.048-.09-.101-.178-.151-.267-.1-.176-.204-.35-.314-.519-.055-.083-.109-.165-.166-.246a9.835 9.835 0 0 0-.388-.518c-.051-.064-.1-.128-.151-.19a9.628 9.628 0 0 0-.593-.652l-.003-.003a10.39 10.39 0 0 0-.659-.6c-.067-.056-.137-.107-.205-.162a10.442 10.442 0 0 0-.773-.556 9.99 9.99 0 0 0-.467-.283c-.103-.059-.205-.119-.311-.175a10.047 10.047 0 0 0-.543-.261c-.094-.042-.186-.089-.28-.128a10.038 10.038 0 0 0-.768-.281c-.112-.036-.228-.065-.341-.098a9.664 9.664 0 0 0-.894-.21 9.623 9.623 0 0 0-.593-.09c-.104-.013-.207-.028-.312-.038C11.62 1.019 11.313 1 11 1s-.62.019-.925.047c-.105.009-.208.024-.312.037a9.708 9.708 0 0 0-.949.163 8.99 8.99 0 0 0-.537.138c-.115.032-.23.062-.343.099a9.298 9.298 0 0 0-.749.274c-.105.043-.206.092-.307.138-.18.081-.357.164-.53.255-.108.057-.214.119-.32.18a10.97 10.97 0 0 0-.749.473c-.161.112-.317.23-.471.352-.075.06-.151.116-.224.177a9.805 9.805 0 0 0-.649.59l-.045.049a9.8 9.8 0 0 0-.549.604c-.06.072-.116.146-.174.22a9.446 9.446 0 0 0-.838 1.235c-.058.102-.118.202-.173.307-.09.171-.172.347-.252.523-.044.098-.093.192-.134.291a10.204 10.204 0 0 0-.291.795c-.038.119-.067.24-.102.36a9.312 9.312 0 0 0-.136.529 8.836 8.836 0 0 0-.069.354 9.22 9.22 0 0 0-.092.603 7.251 7.251 0 0 0-.034.292c-.026.293-.044.589-.045.889L1 11v.004c0 .315.019.625.047.933.009.094.022.187.034.28a10.209 10.209 0 0 0 .164.963c.04.177.087.352.136.525.032.117.062.234.099.351.084.262.179.52.283.772.045.108.098.212.146.318.075.165.151.328.235.488.057.109.118.215.179.322a12.724 12.724 0 0 0 .468.744c.121.174.249.342.38.508.051.064.099.13.15.193.191.229.392.451.602.662.02.02.041.037.061.056.189.187.388.366.592.537.08.068.165.131.248.196.101.079.196.162.3.237.051.037.104.068.155.104a10.36 10.36 0 0 0 .76.48c.108.063.218.125.328.183.163.086.331.164.499.241.104.047.205.098.31.141a10 10 0 0 0 .794.291c.1.031.201.055.302.084.188.053.379.104.572.147.114.025.229.046.345.067.196.036.394.066.594.09.102.013.203.026.306.036.299.028.602.047.911.047s.613-.019.915-.046c.101-.009.202-.023.303-.035.201-.024.4-.055.598-.091.113-.021.228-.042.34-.066.197-.043.392-.095.584-.15.097-.027.194-.05.29-.081.272-.086.539-.184.801-.292.099-.041.194-.089.291-.133.176-.08.35-.161.52-.25.105-.056.209-.115.313-.175a9.81 9.81 0 0 0 .76-.479c.055-.038.111-.071.165-.11.11-.08.212-.167.318-.251.073-.058.149-.114.222-.175.465-.39.889-.815 1.269-1.271.04-.048.077-.1.116-.148.145-.181.284-.366.416-.556.056-.082.109-.164.163-.246a10.28 10.28 0 0 0 .467-.794c.093-.177.178-.358.261-.541.04-.089.086-.178.123-.269.108-.258.204-.523.29-.791.033-.104.059-.208.089-.313a9.95 9.95 0 0 0 .212-.898c.039-.209.071-.421.097-.636.011-.085.023-.17.031-.255.027-.315.046-.629.046-.948 0-.312-.019-.619-.047-.923zM4.342 13.345l-.003-.002-.003-.004a.195.195 0 0 1-.055-.137V8.796c0-.109.087-.197.196-.197h.709c.11 0 .197.088.197.197v3.5h1.928c.109 0 .197.088.197.196v.709c0 .11-.088.198-.197.198H4.478a.196.196 0 0 1-.136-.054zm8.656-4.549c0-.109.088-.197.196-.197h.711c.108 0 .196.088.196.197v4.406c0 .11-.088.198-.196.198h-.711a.214.214 0 0 1-.049-.007h-.002l-.014-.004a.043.043 0 0 1-.005-.001c-.004-.003-.008-.004-.011-.005l-.009-.005-.007-.003c-.004-.001-.007-.004-.012-.007l-.002-.001a.261.261 0 0 1-.051-.049l-2.021-2.731v2.617c0 .11-.089.198-.197.198h-.71a.197.197 0 0 1-.196-.198V8.796c0-.109.088-.197.196-.197h.718c.002 0 .005 0 .009.002h.011a.02.02 0 0 0 .007.001l.013.004.007.001c.004.001.009.001.012.004l.006.002c.004.003.008.003.011.005.004 0 .005.002.007.004.004 0 .008.003.012.005l.005.004a.07.07 0 0 1 .009.007c.004.001.005.003.007.004l.011.009.004.003.012.011.001.001c.004.008.011.013.016.021l2.019 2.727V8.796zm-3.779 0v4.406c0 .11-.088.198-.196.198h-.71a.195.195 0 0 1-.196-.198V8.796c0-.109.086-.197.196-.197h.71a.198.198 0 0 1 .196.197zm5.634 4.549l-.003-.003-.003-.003a.192.192 0 0 1-.056-.137V8.797c0-.052.021-.1.055-.135l.004-.003.002-.002a.191.191 0 0 1 .136-.057h2.834c.108 0 .195.088.195.197v.709a.196.196 0 0 1-.195.197h-1.927v.745h1.927c.108 0 .195.088.195.196v.711a.195.195 0 0 1-.195.196h-1.927v.745h1.927c.108 0 .195.088.195.196v.709c0 .11-.087.198-.195.198h-2.834a.195.195 0 0 1-.135-.054z'/%3E%3C/svg%3E");
      }
    }
   .h_search{
        text-indent: -9999px;
        width: 30px;
        height: 30px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23FFF' d='M15.539 13.316L11.702 9.48a6.252 6.252 0 0 0 .876-3.19 6.29 6.29 0 1 0-6.289 6.289 6.243 6.243 0 0 0 3.189-.876l3.837 3.837a1.573 1.573 0 0 0 2.224-2.224zM1.571 6.29a4.723 4.723 0 0 1 4.718-4.717 4.722 4.722 0 0 1 4.717 4.717 4.722 4.722 0 0 1-4.717 4.717A4.724 4.724 0 0 1 1.571 6.29z'/%3E%3C/svg%3E");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        &:hover{
          cursor: default;
          opacity: .5;
        }
     }
  
   .nav_mobile{
      display: none;
      position: relative;
      cursor: pointer;
      top: 2px;
      &::after{
          content: '';
          position: absolute;
          top: -8px;
          left: -8px;
          bottom: -3px;
          right: -8px;
      }
     .menu{
        width: 32px;
        display: inline-block;
        vertical-align: bottom;
        position: relative;
      }
     .menu .line{
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        margin-bottom: 5px;
        border-radius: 3px;
        position: relative;
        transition: transform 0.5s;
      }
  }

}

#nav_search{
  display: none;
}
#check{
  display: none;
}

@media (max-width:992px){
  #nav{
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    .nav_left{
      width: 100%;
      background-color: #fff;
      >li{
        display: block;
      }
    }
    .nav_mobile{
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }

  #check{
    &:not(:checked) + label + .nav_left{
      display: none;
    }
    &:checked + label + .nav_left{
      display: block;
    }
//    &:checked + label{
//      .line0{
//        display: none;
//      }
//      .menu .line1{
//        transform: translateX(0) translateY(0) rotate(45deg) scaleX(1.1);
//       }
//       .menu .line2{
//          transform: translateX(0) translateY(-8px) rotate(-45deg) scaleX(1.1);
//        }
//       .menu .line_parent{
//          position: relative;
//          top: 7px;
//        }
//    }
  }

}
