@import "_variables"; //變數編譯
@import "_normalize";
@import "_reset";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.zoom{
  .inner{
    transition: transform .42s cubic-bezier(0.15, 0.46, 0.57, 1);
    position:relative;
    &::before {
      content: "";
      transition: opacity .42s cubic-bezier(0.15, 0.46, 0.57, 1);
      opacity: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255,255,255,0.25);
    }
  }
  &:hover .inner{
    transform: scale(1.08, 1.08);
    &::before{
      opacity: 1;
    }
  }
}


::selection{
    background-color: #D01A48;
    color: #ffffff;
}