@import "_variables"; //變數編譯
@import "_normalize";
@import "_reset";
@import "_global";

@import "_nav";
@import "_header";

@import "_service";

body{
  
}

.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}


::selection{
    background-color: #D01A48;
    color: #ffffff;
}