//https://gist.github.com/zunairmushtaq/aeaa48432d51cad0eb1c#file-ie-css-hacks-all-ie6-7-8-9-10-11-edge  
//edge //ie11
@supports (-ms-ime-align:auto){
   .h_bg{
      background-attachment:inherit!important;
    }
  .slick-dots li button{
    margin: 0 2px;
  }
  .slick-dots li:not(.slick-active) button{
      width: 17px;
      height: 17px;
      background-size: 90%;
      top: 13px;
    }
  .slick-dots li.slick-active button{
      background-size: contain;
  }
  @media screen and (max-width: 870px){
   .slick-dots li:not(.slick-active) button{
      height: 40px;
      top: 0px;
    }
  }
}

//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .svg_obj1{
    background-image: url(../../static/images/obj1.png);
    background-size: cover;
  }
  .svg_obj2{
    background-image: url(../../static/images/obj2.png);
    background-size: cover;
  }
  .slick-dots li button{
    margin: 0 2px;
  }
  .slick-dots li:not(.slick-active) button{
      width: 17px;
      height: 17px;
      background-size: 90%;
      top: 13px;
  }
  .slick-dots li button{
     background-size: contain;
  }
  @media screen and (max-width: 870px){
    .slick-dots li:not(.slick-active) button{
      height: 40px;
      top: 0px;
    }
  }
  .about .about_block1 h2{
    top: -25px!important;
    padding-top: 1.8em!important
  }

  .about .about_block4 h2{
    top: -24px!important;
    padding-top: 1.8em!important
  }
  .contact_us .svg7{
    top: -40px;
  }
  .music_block6 h2{
    top: 10px;
  }
  .music_block6 h2 span{
    bottom: 21px;
  }
  .about_block6 h2{
    height: 77px;
    top: 23px;
  }
  .about_parent .about_block6 h2{
    top: auto;
  }
  .news_other .svg7{
    transform: translateX(-530px)
  }
  @media screen and (max-width: 1220px){
    #store .top_style_1::after{
      right: 10px;
      width: 371px;
    }
  }
   @media screen and (max-width: 1065px){
    #store .top_style_1::after{
      right: -104px;
      display: none;
    }
  }
}